@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.task-container {
    width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-weight: 600;
}

label{
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 60px;
}

.sort-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#sort-order {
    width: 100%;
    max-width: 300px;
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: white;
    cursor: pointer; 
    outline: none; 
    transition: 0.3s; 
}

#sort-order:hover {
    border-color: #888;
}

#sort-order:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.priority-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}



.priority-option input {
    display: none;
}


.custom-radio {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.priority-option input:checked + .custom-radio {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.custom-radio:hover {
    background-color: #e0e0e0;
}



button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
}

button.complete {
    background-color: #28a745;
    color: white;
}

button.delete {
    background-color: #dc3545;
    color: white;
}

#filter-completed {
    background-color: #0e9717;
    color: white;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #f8f9fa;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item.completed {
    background: #d4edda;
    border-left: 5px solid #28a745;
}

.task-priority {
    font-weight: bold;
    color: #ff9800;
}
